h1 {
  color: teal;
  font-size: 300%;
}

h2 {
  color: grey;
}

#header {
  color: teal;
  display: flex;
  gap: 2.5em;
  align-items: center;
}

#header span {
  font-size: 125%;
  font-weight: bold;
}

#header a {
  color: teal;
  text-decoration: none;
}

#header a:hover {
  color: teal;
  text-decoration: underline;
}

.ialogo {
  background-color: black;
  text-align: center;
  padding: 2px;
  height: 32px;
  width: 32px;
  display: inline-block;
}

#footer {
  text-align: right;
  padding: 1em;
  /*background-color: rgba(0,0,0,.1);*/
  font-style: oblique;
}

.centered {
  text-align: center;
}

input[type=search] {
  -webkit-appearance: none;
  padding-left: 0.5em;
  font-size:225%;
  height:66px;
}

form {
  margin-top: 1em;
}

form button {
  vertical-align: top;
  background: url(/static/search.gif);
  background-size:cover;
  width:300px;
  height:66px;
}

fieldset {
  display: inline;
}

.blurb {
  font-size: 150%;
}

.guttered {
  max-width: 800px;
}

#results {
  display: flex;
  flex-wrap: wrap;
}

.result {
  padding: 5px;
}

#pagination {
  text-align: center;
  font-style: oblique;
  margin-top:25px;
}

#pagination span {
  vertical-align: top;
  font-size: 180%;
}
